.container {
    padding:20px 50px;
    max-width:100%;
}

.form-container {
    max-width:800px;
    margin:20px auto;
}

/*** NAV **/
.admin-nav {
    background-image:none;
    background-color:#217CB3;
}

    .admin-nav .navbar-brand, .admin-nav .navbar-brand:hover {
        color:#FFF;
        font-size:24px;
    }

    .admin-nav .navbar-nav > li > a {
        color: #B8E2F9;
    }
    .admin-nav .navbar-nav > li > a:hover {
        color: #FFFFFF;
    }

.action-button {
    background-color: #DDDDDD;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    color: #333 !important;
    cursor: pointer;
    margin: 0 3px;
    padding: 2px 5px;

}

.action-button:hover {
    background-color: #CCCCCC;
}

/**** Data Tables ****/
table.dataTable tr.odd td.sorting_1 {
    background-color: #98C6E0;
}

table.dataTable tr.odd {
    background-color: #DAE4EA;
}

/** Login Page **/

.login-panel {

}

/** Error Alert  **/

.error-alert {
    margin:20px 0;
}

    .error-alert ul {
        list-style: none;
        margin:0;
        padding:0;
    }


